<html>
<head>
<title>Platform Tech Test</title>
</head>
<body>
  <header>
    <h1>Welcome to the University of Leodis</h1>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/courses">Courses</a></li>
        <li><a href="/mail">Mail</a></li>
        <li><a href="/vle">VLE</a></li>
      </ul>
    </nav>
  </header>

  {{{body}}}
</body>
</html>
