# __________________________________________________________________________
#
# ID              : $Id: httpd-vhosts.conf 7424 2014-08-23 15:36:27Z svn $
# Last changed on : $Date: 2014-08-23 16:36:27 +0100 (Mon, 23 Aug 2014) $
# Last edited by  : $Author: svn $
# Revision        : $Revision: 7424 $
# URL Head        : $HeadURL: svn+ssh://svn@srvl1/uni/opt/apache/conf/extra/httpd-vhosts.conf $
# __________________________________________________________________________
#
# Copyright (c)  University of Leodis. All rights reserved
# __________________________________________________________________________
#
##
## Main Virtual Host for www.leodis.ac.uk, and all other internal extenal hosts
## ______________________________________________________________________________________________________________
##

NameVirtualHost *:80

<VirtualHost *:80>

    ServerName {{ production_url }}
    ServerAlias leodis.ac.uk leodis.co.uk www.leodis.co.uk leodis.net www.leodis.net

    ProxyRequests off

    <Proxy *>
        Order deny,allow
        Allow from all
    </Proxy>

    ProxyPass / http://localhost:1337/
    ProxyPassReverse / http://localhost:1337/
</VirtualHost>


